<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a href="{{ site.baseurl }}/" class="brand-logo"><i class="mdi-action-home"></i></a>
                <ul id="nav-mobile" class="right side-nav">
                    {% for link in site.data.navigation %}
                        {% if link.url contains 'http' %}
                            {% assign domain = '' %}
                        {% else %}
                            {% assign domain = site.url %}
                        {% endif %}
                        <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
